	<% feed_user = feed["user"].presence || feed[:user] %>
	
	<div class="col-md-12 tweet-item tweet-<%= feed[:sentiment].to_s %>">
		<div class="row">
			<div class="col-xs-6 col-md-4 col-lg-2">
				<a href="#" class="thumbnail">
					<% if feed_user.present? %>
					<%= image_tag feed_user["profile_image_url"].gsub("_normal", ""), :class => "rounded-circle float-xs-left profile-thumb"  %>
					<% else %>
					<%= image_tag "default_image.jpeg", :class => "rounded-circle float-xs-left profile-thumb"  %>
					<% end %>				
				</a>
			</div>
		
			<div class="col-xs-6 col-md-8 col-lg-10 tweet-inner-content">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="profile-tweet-details-block <%= feed[:sentiment].to_s %>-tweets">									
							<h1 class="profile-user-name"><%= feed_user["name"] %>
										
								<span class="tweet-to">
									@<%= feed_user["screen_name"] %>
								</span>
								<span class="tweet-time">   <%= distance_of_time_in_words_to_now(feed["created_at"]) %></span>
										
							</h1>
							<div class="profile-user-content">
								<%= auto_link(feed["text"], :html => { :target => '_blank' }) %>
							</div>
						</div>
					</div>
				</div>

				<ul class="row tweet-footer">
					<l1 class="col-xs-3 column-grid tweet-links" title="Retweet">
						<span class="fa fa-retweet" title="Retweet"></span>
						<span class="numbers"><%= feed["retweet_count"] || 0 %></span>
					</l1>
					<l1 class="col-xs-3 column-grid tweet-links" title="Likes">
						<span class="fa fa-heart" title="Likes"></span>
						<span class="numbers"><%= feed["favorite_count"] || 0 %></span>
					</l1>

				</ul>
			</div>
		</div>
	</div>